{% macro render(options) %}

<div class="pt-11 pt-lg-24 pb-11 pb-lg-24">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">
                <!-- section-title start --> 
                <div class="section-title text-center pb-lg-15 pb-8 px-xxl-10">
                    <h2 class="mb-9 font-size-10">Quick career tips</h2>
                    <p class="text-default-color font-size-5">Collaboratively administrate empowered markets via plug-and-play networks. 
                    Dynamically procrastinate </p>
                </div>
                <!-- section-title end --> 
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- single blog start -->
            <div class="col-xl-4 col-md-6 mb-xl-0 mb-13" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                <!-- card start -->
                <div class="card bg-transparent border-0">
                    <!-- card img start -->
                    <img src="image/l2/png/blog-img1.png" class="card-img-top" alt="...">
                    <!-- card img end -->
                    <!-- card-body start -->
                    <div class="card-body pt-11 px-0 pb-0">
                        <a href="#" class="badge badge-dodger text-uppercase font-size-3 font-weight-bold px-4 py-1">CV Writing</a>
                        <h4><a class="card-title font-size-7 mt-8 mb-6 heading-default-color" href="#">How to make a perfect CV that attracts the attention </a></h4>
                        <p class="card-text mb-9 font-size-4">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base.</p>
                        <!-- media start -->
                        <div class="media mb-5 pr-9">
                            <!-- media img start -->
                            <a href="#"><img src="image/l2/png/blog-user-img1.png" class="align-self-center circle-54 mr-3 mt-2" alt="" /></a>
                            <!-- media img start -->
                            <!-- media body start -->
                            <div class="media-body pl-4 pt-2">
                                 <h6 class="mb-0"><a class="mb-0 font-size-4 font-weight-semibold heading-default-color line-height-reset" href="#">Anna Frank</a></h6>
                                <p class="mb-0"><a class="font-size-3 text-default-color" href="#">Creative Director</a></p>
                            </div>
                            <!-- media body start -->
                        </div>
                        <!-- media end -->

                    </div>
                    <!-- card-body end -->
                </div>
                <!-- card end -->
            </div>
            <!-- single blog end -->
            <!-- single blog start -->
            <div class="col-xl-4 col-md-6 mb-xl-0 mb-13" data-aos="fade-up" data-aos-duration="700" data-aos-once="true">
                <!-- card start -->
                <div class="card bg-transparent border-0">
                    <!-- card img start -->
                    <a href="#"><img src="image/l2/png/blog-img2.png" class="card-img-top" alt="..."></a>
                    <!-- card img end -->
                    <!-- card-body start -->
                    <div class="card-body pt-11 px-0 pb-0">
                        <a href="#" class="badge badge-dodger text-uppercase font-size-3 font-weight-bold px-4 py-1">Marketing</a>
                        <h4><a class="card-title font-size-7 mt-8 mb-6 heading-default-color" href="#">Out bound marketing to get the job you want within 72 days</a></h4>
                        <p class="card-text mb-9 font-size-4">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base.</p>
                        <!-- media start -->
                        <div class="media mb-5 pr-9">
                            <!-- media img start -->
                            <a href="#"><img src="image/l2/png/blog-user-img2.png" class="align-self-center circle-54 mr-3 mt-2" alt="" /></a>
                            <!-- media img start -->
                            <!-- media body start -->
                            <div class="media-body pl-4 pt-2">
                                 <h6 class="mb-0"><a class="font-size-4 font-weight-semibold heading-default-color line-height-reset" href="#">David Herison</a></h6>
                                <p class="mb-0"><a class="font-size-3 text-default-color" href="#">UX Designer</a></p>
                            </div>
                            <!-- media body start -->
                        </div>
                        <!-- media end -->

                    </div>
                    <!-- card-body end -->
                </div>
                <!-- card end -->
            </div>
            <!-- single blog end -->
            <!-- single blog start -->
            <div class="col-xl-4 col-md-6" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
                <!-- card start -->
                <div class="card bg-transparent border-0">
                    <!-- card img start -->
                    <a href="#"><img src="image/l2/png/blog-img3.png" class="card-img-top" alt="..."></a>
                    <!-- card img end -->
                    <!-- card-body start -->
                    <div class="card-body pt-11 px-0 pb-0">
                        <a href="#" class="badge badge-dodger text-uppercase font-size-3 font-weight-bold px-4 py-1">Social media</a>
                        <h4><a class="card-title font-size-7 mt-8 mb-6 heading-default-color" href="#">Your social media accounts will be your new CV</a></h4>
                        <p class="card-text mb-9 font-size-4">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster,</p>
                        <!-- media start -->
                        <div class="media mb-5 pr-9 align-items-center">
                            <!-- media img start -->
                            <img src="image/l2/png/blog-user-img3.png" class="align-self-center circle-54 mr-3" alt="" />
                            <!-- media img start -->
                            <!-- media body start -->
                            <div class="media-body pl-4 pt-2">
                                 <h6 class="mb-0"><a class="mb-0 font-size-4 font-weight-semibold heading-default-color line-height-reset" href="#">Benjamin Linkon</a></h6>
                                <p class="mb-0"><a class="font-size-3 text-default-color line-height-reset" href="#">JavaScript Developer</a></p>
                            </div>
                            <!-- media body start -->
                        </div>
                        <!-- media end -->

                    </div>
                    <!-- card-body end -->
                </div>
                <!-- card end -->
            </div>
            <!-- single blog end -->
        </div>
    </div>
</div>
{% endmacro %}