{% macro render(options) %}
    <section class="pt-13 pt-lg-30 pb-13 pb-lg-30">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-xs-11 mb-9 mb-lg-0"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                    <!-- content-1 left-content start -->
                    <div class="position-relative pr-lg-20 pr-xs-15 pr-9 ">
                        <!-- content img start -->
                        <img src="image/l2/png/content-2-img1.png" alt="" class="w-100">
                        <!-- content img end -->
                        <!-- abs-content start -->
                        <div class="abs-content pos-abs-br bg-white shadow-2 pl-7 pt-8 pb-1 pr-11 max-width-px-311 rounded mb-15 mb-xs-18 mb-lg-15 mb-xl-18">
                            <!-- media start -->
                            <div class="media mb-5">
                                <!-- check-mark start -->
                                <span class="check-mark bg-yellow-2 circle-41">
                                    <i class="fas fa-check text-white  font-size-6"></i>
                                </span>
                                <!-- check-mark end --> 
                                <!-- media body start -->
                                <div class="media-body pl-5">
                                    <h6 class="mb-0 font-size-3 text-green text-uppercase">Job alert!</h6>
                                    <p class="mb-0 font-size-4 text-black-2">104 new jobs are available in this week!</p>
                                </div>                                            
                                <!-- media body start -->
                            </div>
                            <!-- media end -->  
                        </div>
                        <!-- abs-content end -->
                    </div>
                    <!-- content-1 left-content end -->
                </div>
                <div class="col-xl-5 col-lg-6 col-md-8 col-xs-10" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                    <!-- content-1 start -->
                    <div class="content-1 pl-xl-5 pl-xxl-11 pr-xxl-10">
                        <!-- content-1 section-title start -->
                        <h2 class="font-size-9 mb-md-15 mb-13">Help you to get the <br class="d-none d-sm-block">
                            best job that fits you</h2>
                        <!-- content-1 section-title end -->
                        <!-- media start -->
                        <div class="media mb-11">                                            
                            <!-- media icon start -->
                            <div class="media-icon px-6 py-5 bg-green-opacity-2 rounded-5">
                                <i class="icon icon-layout-11 text-green"></i>
                            </div>
                            <!-- media icon start -->
                            <!-- media body start -->
                            <div class="media-body pl-7">
                                <h5 class="mb-5 h5">#1 Jobs site in UK</h5>
                                <p class="mb-0 font-size-4 text-default-color">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative</p>
                            </div>                                            
                            <!-- media body start -->
                        </div>
                        <!-- media end -->  
                        <!-- media start -->
                        <div class="media mb-11">                                            
                            <!-- media icon start -->
                            <div class="media-icon px-6 py-5 bg-yellow-2-opacity-2 rounded-5">
                                <i class="fa fa-search text-yellow-2"></i>
                            </div>
                            <!-- media icon start -->
                            <!-- media body start -->
                            <div class="media-body pl-7">
                                <h5 class="mb-5 h5">Seamless searching</h5>
                                <p class="mb-0 font-size-4 text-default-color">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p>
                            </div>                                            
                            <!-- media body start -->
                        </div>
                        <!-- media end -->  
                        <!-- media start -->
                        <div class="media">                                            
                            <!-- media icon start -->
                            <div class="media-icon px-6 py-5 bg-red-opacity-2 rounded-5">
                                <i class="fa fa-industry text-red"></i>
                            </div>
                            <!-- media icon start -->
                            <!-- media body start -->
                            <div class="media-body pl-7">
                                <h5 class="mb-5 h5">Hired in top companies</h5>
                                <p class="mb-0 font-size-4 text-default-color">Podcasting operational change management inside of workflows to establish.</p>
                            </div>                                            
                            <!-- media body start -->
                        </div>
                        <!-- media end -->  
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}