{% macro leftSide(option) %}
<div class="pt-10 pb-6 pl-11 pr-12 bg-black-2 h-100 d-flex flex-column dark-mode-texts">
  <div class="pb-9">
    <h3 class="font-size-8 text-white line-height-reset pb-4 line-height-1p4">
     {{option.title}}
    </h3>
    <p class="mb-0 font-size-4 text-white">{{option.text}}</p>
  </div>
 <div class="border-top border-default-color-2 mt-auto">
    <div class="d-flex mx-n9 pt-6 flex-xs-row flex-column">
      <div class="pt-5 px-9">
        <h3 class="font-size-7 text-white">
          295
        </h3>
        <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New jobs 
          posted today</p>
      </div>
      <div class="pt-5 px-9">
        <h3 class="font-size-7 text-white">
          14
        </h3>
        <p class="font-size-3 text-white gr-opacity-5 line-height-1p4">New companies 
          registered</p>
      </div>
    </div>
 </div>
</div>
{% endmacro %}