{% macro render(options) %}
<!-- content-2 section -->
<section class="pt-13 pt-lg-30 pb-lg-30">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8 col-xs-10" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="position-relative px-xl-20 pr-md-15 pr-9">
          <!-- content img start -->
          <img src="image/l3/png/content-1-img1.png" alt="" class="w-100 rounded-4" />
          <!-- content img end -->
          <!-- abs-content start -->
          <div class="abs-content pos-abs-br mb-30 mr-8 rounded-4 rotate-n10 border-10 border-white shadow-2" >
              <img src="image/l3/png/content-1-img2.png" alt="" class="rounded-4 border-white border-width-3">
          </div>
          <!-- abs-content end -->
        </div>
      </div>
      <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-8 col-sm-11" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
        <!-- content-2 start -->
        <div
          class="content-2 pl-xl-10 d-flex flex-column justify-content-center h-100 pt-lg-0 pt-15 pr-xl-10 pr-xxl-0" >
            <!-- content section title start -->
            <h2 class="font-size-8 mb-7 pr-xs-13  pr-md-0 pr-sm-8">
                Over <span class="text-green">50k+ people</span> landed their first job from Jobcamp.
            </h2>
            <p class="text-default-color font-size-5 mb-7 mb-lg-12 pr-xxl-13 pr-lg-0 pr-md-10">
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative things to strategy foster collaborative thinking.
            </p>
            <!-- content section title end -->
            <!-- content-2 btn start -->
            <a class="text-green font-weight-bold text-uppercase font-size-3" href="#">Learn More <i class="fas fa-arrow-right ml-3"></i></a>
            <!-- content-2 btn end -->
            <!-- media start -->
            <div class="media mb-9 mt-9 mt-lg-15 pr-sm-10 pr-md-18 pr-xl-20">                                            
                <!-- media img start -->
                <div class="media-img">
                    <img src="image/l3/png/media-img1.png" alt="" class="circle-48">
                </div>
                <!-- media img start -->
                <!-- media body start -->
                <div class="media-body pl-7">
                    <p class="mb-0 font-size-4 heading-default-color mb-7">“Duis pretium gravida enim, vel maximus ligula fermentum a. Sed rhoncus eget ex id egestas. 
                        Nam nec nisl placerat, tempus erat a, condimentum metus.”</p>
                    <h6 class="mb-0 font-size-4">Davis Jones</h6>
                    <p class="font-size-3 text-default-color">Full-Stack Developer</p>
                </div>                                            
                <!-- media body start -->
            </div>
            <!-- media end -->  
        </div>
        <!-- content-2 end -->
      </div>
    </div>
  </div>
</section>
{% endmacro %}
