{% macro jobDetailesCard(options) %}
    {% import "innerpage/small-items/tag-items.njk" as TagsListOne %}
    <div class=" bg-white rounded-4 border border-mercury shadow-9 pos-abs-xl ml-8 h-1413 overflow-y-scroll mt-13 mt-xl-0">

    </div>
{% endmacro %}