{%macro render(options)%}
<div class="pt-11 pt-lg-0 pl-lg-5">
          <h4 class="font-size-6 font-weight-semibold mb-0">Similar Companies</h4>
          <ul class="list-unstyled">
            <!-- Single List -->
            <li class="border-bottom">
              <a class="media align-items-center py-9" href="#">
                <div class="mr-7">
                  <img class="square-72 rounded-5" src="./image/l1/png/feature-brand-1.png" alt="">
                </div>
                <div class="mt-n4">
                  <h4 class="mb-0 font-size-6 font-weight-semibold">Google INC.</h4>
                  <p class="mb-0 font-size-4">Online Marketplace</p>
                </div>
              </a>
            </li>
             <!-- Single List End -->
            <!-- Single List -->
            <li class="border-bottom">
              <a class="media align-items-center py-9" href="#">
                <div class="mr-7">
                  <img class="square-72 rounded-5" src="./image/l1/png/feature-brand-4.png" alt="">
                </div>
                <div class="mt-n4">
                  <h4 class="mb-0 font-size-6 font-weight-semibold">Uber</h4>
                  <p class="mb-0 font-size-4">Ride Sharing Company</p>
                </div>
              </a>
            </li>
             <!-- Single List End -->
            <!-- Single List -->
            <li class="border-bottom">
              <a class="media align-items-center py-9" href="#">
                <div class="mr-7">
                  <img class="square-72 rounded-5" src="./image/l1/png/feature-brand-5.png" alt="">
                </div>
                <div class="mt-n4">
                  <h4 class="mb-0 font-size-6 font-weight-semibold">Facebook</h4>
                  <p class="mb-0 font-size-4">Social Network</p>
                </div>
              </a>
            </li>
             <!-- Single List End -->
            <!-- Single List -->
            <li class="border-bottom">
              <a class="media align-items-center py-9" href="#">
                <div class="mr-5">
                  <img class="square-72 rounded-5" src="./image/l3/png/github-mark.png" alt="">
                </div>
                <div class="mt-n4">
                  <h4 class="mb-0 font-size-6 font-weight-semibold">GitHub</h4>
                  <p class="mb-0 font-size-4">Online Software</p>
                </div>
              </a>
            </li>
             <!-- Single List End -->
            <!-- Single List -->
            <li class="">
              <a class="media align-items-center py-9" href="#">
                <div class="mr-7">
                  <img class="square-72 rounded-5" src="./image/l3/png/universal.png" alt="">
                </div>
                <div class="mt-n4">
                  <h4 class="mb-0 font-size-6 font-weight-semibold">Uniliver</h4>
                  <p class="mb-0 font-size-4">Manufacturer</p>
                </div>
              </a>
            </li>
             <!-- Single List End -->
          </ul>
        </div>
{% endmacro %}