{% extends "template.njk" %}
{# Import Section #}
{% import "components/Header/_header.njk" as Header %}
{% import "components/back-button.njk" as BackButton %}
{% import "innerpage/featureJobsTow.njk" as InnerJobSectionTow %}
{% import "innerpage/sidebar-list.njk" as Sidebarlist %}
{% import "components/footer/footer.njk" as Footer %}

<!-- header start start -->
{% set page_data = {
    page_title: "landing-2",
    header: {
      "additional_header_class": "site-header--menu-right bg-white light-mode-texts",
      "absolute_header": true,
      "container_fluid": false,
      "sticky_header": true,
      "mobile_sticky": false,
      "header_button": false,
      "header_double_button": true,
      "additional_db_classes": "header-btn-devider ml-auto pr-2 ml-lg-9 d-none d-xs-flex",
      "header_button_class_1" : "btn btn-transparent text-uppercase font-size-3 heading-default-color focus-reset",
      "header_button_text_1" : "Log in",
      "header_button_class_2" : "btn btn-primary text-uppercase font-size-3",
      "header_button_text_2" : "Sign up"
    }
  } 
%}
<!-- header start end -->

<!-- block main start -->
{% block main %}

  <!-- Header start  -->
  {{Header.render(page_data.header)}}
  <!-- Header end -->

  <!-- Main Content Start -->

  <div class="bg-default-2 pt-16 pb-12 pt-lg-22 pb-lg-27">
    <div class="container">
      <!-- back Button -->
      <div class="row justify-content-center mt-14">
        <div class="col-xxl-6 col-xl-7 col-lg-8">
          <h2 class="font-size-9 text-center mb-11">Contact Us</h2>
         <div class="bg-white px-9 pt-9 pb-7 shadow-8 rounded-4">
          <form action="/">
            <div class="row">
              <div class="col-12 mb-7">
                <label for="" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">Your Name</label>
                <input type="text" class="form-control" placeholder="Jhon Doe">
              </div>
              <div class="col-lg-6 mb-7">
                <label for="" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">E-mail</label>
                <input type="text" class="form-control" placeholder="example@gmail.com">
              </div>
              <div class="col-lg-6 mb-7">
                <label for="" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">Subject</label>
                <input type="text" class="form-control" placeholder="Special contract">
              </div>
              <div class="col-lg-12 mb-7">
                <label for="message" class="font-size-4 font-weight-semibold text-black-2 mb-5 line-height-reset">Message</label>
                <textarea name="" id="" placeholder="Type your message" class="form-control h-px-144"></textarea>
              </div>
              <div class="col-lg-12 pt-4">
                <button class="btn btn-primary text-uppercase w-100 h-px-48">Send Now</button>
              </div>
            </div>
          </form>
          <div class="mt-8">
            <h3 class="font-size-4">Contact Information</h3>
            <div class="media mb-2">
              <div class="mr-6">
                <i class="fas fa-map-marker-alt mt-2"></i>
              </div>
              <p class="font-size-4 mb-0">Grayic <br>  
                Jens Baggesen, 8200 Aarhus</p>
            </div>
            <div class="media mb-2">
              <div class="mr-6">
                <i class="fas fa-phone-alt mt-2"></i>
              </div>
              <p class="font-size-4 mb-0">+999 546 646</p>
            </div>
            <div class="media mb-2">
              <div class="mr-6">
                <i class="fas fa-envelope mt-2"></i>
              </div>
              <p class="font-size-4 mb-0">support@uxtheme.net</p>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main Content end -->
  <!-- footer area function start -->
  {{Footer.render()}}
  <!-- footer area function end -->
{% endblock %}