{% extends "template.njk" %}
{# Import Section #}
{% import "components/Header/_header.njk" as Header %}
{% import "homeTwo/hero.njk" as Hero %}
{% import "homeTwo/category.njk" as categorytwo %}
{% import "homeTwo/content.njk" as ContentOne %}
{% import "homeTwo/featuredJob.njk" as featuredJobTwo %}
{% import "homeTwo/blog.njk" as Blog %}
{% import "homeTwo/content-2.njk" as ContentTwo %}
{% import "components/footer/footer.njk" as Footer %}

<!-- header start start -->
{% set page_data = {
    page_title: "landing-2"
  } 
%}
<!-- header start end -->

<!-- block main start -->
{% block main %}

  <!-- Header start  -->
  {{Header.render(headerNormal)}}
  <!-- Header start end -->

  <!-- Hero Area -->
  {{Hero.render()}}
  <!-- Hero Area -->

  <!-- category Area -->
  {{categorytwo.render({cardtwoSection: homeTwo.cardtwoSection})}}
  <!-- category Area -->

  <!-- ContentOne Area -->
  {{ContentOne.render()}}
  <!-- ContentOne Area -->

  <!-- featuredJobOne Area -->
  {{featuredJobTwo.render({
  featureCardData : homeTwo.featuredJob
})}}
  <!-- featuredJobOne Area -->

 <!-- Blog area function start -->
    {{Blog.render()}}
    <!-- Blog area function end -->
  <!-- ContentTwo Area -->
  {{ContentTwo.render()}}
  <!-- ContentTwo Area -->

  <!-- footer area function start -->
  {{Footer.render()}}
  <!-- footer area function end -->
{% endblock %}